@keyframes fade {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
a {
  text-decoration: none;
  color: white;
}

header {
  width: 100%;
  min-width: 1200px;
  height: 70vh;
  text-align: left;
  color: white;
  position: relative;
  background: #EFF5F5;
  background-size: cover;
}
header::before {
  width: 100%;
  height: 100%;
  opacity: 0.6;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
}
header .header_wrap {
  box-sizing: border-box;
  width: 80%;
  margin: auto;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: relative;
  z-index: 100;
}
header .header_wrap nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
header .header_wrap nav a {
  display: block;
  padding: 5px 15px;
}
header .header_wrap nav .cv {
  padding: 5px 15px;
  background-color: #497174;
  color: black;
  border-radius: 15px;
  cursor: pointer;
}
header .header_wrap .heading_wrap {
  width: 100%;
  z-index: 100;
  padding-top: 100px;
}
header .header_wrap .heading_wrap h1 {
  font-size: 80px;
  margin-bottom: 30px;
  color: #EB6440;
}
header .header_wrap .heading_wrap h4 {
  font-size: 30px;
}
@media (max-width: 600px) {
  header .header_wrap .heading_wrap h1 {
    font-size: 40px;
  }
  header .header_wrap .heading_wrap h4 {
    font-size: 20px;
  }
}
header .header_wrap .heading_wrap .highlight {
  color: #497174;
}
header .header_wrap .heading_wrap .heading {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: bold;
}
.custom-shape-divider-bottom-1654183413 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}
.custom-shape-divider-bottom-1654183413 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 160px;
  transform: rotateY(180deg);
}
.custom-shape-divider-bottom-1654183413 svg .shape-fill {
  fill: white;
}

main {
  background-color: white;
  height: 100%;
}
main .project {
  width: 100%;
  position: relative;
  top: -150px;
}
main .project .content-wrap {
  box-sizing: border-box;
  width: 80%;
  min-width: 1200px;
  margin: auto;
}
main .project .content-wrap .counting {
  text-align: right;
  color: gray;
}
main .project .content-wrap ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
main .project .content-wrap ul li {
  box-sizing: border-box;
  width: 20%;
  margin: 30px;
  background-color: white;
  border-radius: 5px;
  border: 0.2px solid #D6E4E5;
}
@media (max-width: 600px) {
  main .project .content-wrap ul li {
    width: 100%;
  }
  main .project .content-wrap ul li img {
    display: none;
  }
}
main .project .content-wrap ul li:hover {
  transform: scale(1.02);
}
main .project .content-wrap ul li a {
  color: black;
}
main .project .content-wrap ul li a img {
  height: 70%;
  width: 100%;
}
main .project .content-wrap ul li a .description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 30%;
  box-sizing: border-box;
  padding: 3px;
}
main .project .content-wrap ul li a .description .label {
  width: 80px;
  text-align: center;
  border-radius: 10px;
  padding: 4px 6px;
  color: white;
  margin-bottom: 5px;
}
main .project .content-wrap ul li a .description .publishing {
  background-color: #497174;
}
main .project .content-wrap ul li a .description .react {
  background-color: #EB6440;
}/*# sourceMappingURL=style.css.map */